
<div class="ch-logo png-fix">
  <p> organize, remember and share your favorite spots</p>
</div>

<div class="ch-home-login-wrap">
  <div class="ch-home-introduce left">
    <h2>篮球部落当前为 <span class="red">内测版本</span></h2>
    <h3>You’ll have to request an invite to join Spotpad.</h3>
    <p>During the beta period, we are using Facebook Connect to validate users and handle invitations.</p>
    <div class="ch-home-reg-button">
      <a href="#" class="png-fix">立即注册小正的SNS</a>
    </div>
    <a href="/center/index" class="ch-home-known-more">进入篮球部落</a>
  </div>
  <div class="ch-home-login right">
    <h2>已有帐号，立即登录！</h2>
    <ul>
      <li><input type="text" class="ch-home-username ipt" /></li>
      <li><input type="password" class="ch-home-pwd ipt" /></li>
      <li class="ch-home-login-pwd">
        <button type="submit" class="right"><span>登 录</span></button>
        <input id="rememberpw" type="checkbox">
        <label for="rememberpw">下次自动登录</label>
      </li>
    </ul>

    <p><a href="#">Forgot Password?</a> </p>
  </div>
</div>