<div class="ch-content-wrap">
  <div class="ch-content-top png-fix">
    <div class="pad10">
      <span class="ch-photo left"><img width="42" height="42" alt="" src="/css/images/front/avatar.jpg"></span>

      <div class="ch-page-title left">
        <h2>篮球队长</h2>
        <ul class="ch-button-grp">
          <li><a href="#" class="first active">邀战</a></li>
          <li><a href="#">约球</a></li>
          <li><a href="#">球队</a></li>
          <li id="msg"><a href="#" >站内信</a></li>
          <!--<li><a href="#">分享</a></li>-->
        </ul>
      </div>
    </div>
  </div>
  <div class="ch-content">
    <div class="pad20">
      <div class="ch-content-title">
        <h2 class="left">View Your Spots</h2>

        <form action="" class="right ch-title-search">
          <input name="" type="text" class="text"/>
          <input name="" src="/css/images/front/ico-search.png" alt="Search" type="image" class="img"/>
        </form>
        <div class="clear"></div>
      </div>

      <div class="clear ch-filters">
        <fieldset class="first">
          <legend>Filter Search</legend>
          <select name="">
            <option>All Cites</option>
          </select>
          <select name="">
            <option>All Categories</option>
          </select>
        </fieldset>

        <fieldset>
          <legend>Views</legend>
          <div class="ch-filters-icon">
            <a href="#" class="ch-icon ch-icon-location">Spots near you</a>
            <a href="#" class="ch-icon ch-icon-map">View on Map</a></div>
        </fieldset>

        <fieldset>
          <legend>Actions</legend>
          <div class="ch-filters-icon">
            <a href="#" class="ch-icon ch-icon-add">Add to Spotpad</a>
            <a href="#" class="ch-icon ch-icon-share">Share</a>
            <a href="#" class="ch-icon ch-icon-del">Delete</a>
          </div>
        </fieldset>

        <div class="clear"></div>
      </div>

      <div class="pad20"></div>
      <div class="ch-block-inner">
        <div class="clear">
          <a href="#" class="ch-a-add left">添加</a>
          <a href="#" class="ch-a-edit right">编辑</a>
        </div>
        <div class="clear">
          <br/>
          <table width="100%" border="0" class="ch-spots ch-table">
            <% 4.times do %>
                <tr>
                  <td><img src="/css/images/front/map.jpg"/></td>
                  <td>
                    <h3><a href="#">Starbucks</a></h3>
                    <h4><a href="#">Category name 1</a> &gt; <a href="#">Category name 2</a></h4>
                  </td>
                  <td>
                    <div class="ch-tags">Tags: <a href="#">Coffee</a></div>
                  </td>
                  <td>
                    <a href="#" class="ch-btn-a png-fix">查看</a>
                  </td>
                </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>

  </div>
  <div class="ch-content-bottom png-fix"></div>

</div>
<script>
    $(function () {
        $('#msg').grumble(
                {
                    text: '3',
                    angle: 150,
                    distance: 3,
                    showAfter: 3000,
                    hideAfter: false,
                    hasHideButton: true,
                    buttonHideText: 'Pop!'
                }
        );
    })
</script>