<div class="ch-content-wrap">
  <div class="ch-content-top png-fix">
    <div class="pad20 ch-dashboard-title">
      <h2 class="left">小小正的表单页面</h2>
      <a href="#" class="right">返回</a>
    </div>
  </div>
  <div class="ch-content">
    <div class="pad20">
      <div class="ch-form-readme left">
        <h2>Add Your Spot</h2>
        <p>Sorry we couldn’t find your spot! The good news is you can add a spot just as easily right here. Just enter as much or as little information about your spot as you like. The only required field is the spot name.</p>
      </div>
      <div class="ch-form-content right">
        <h2 class="ch-form-title">Enter Your Spot’s Details</h2>
        <div class="ch-field">
          <label>Spot Name</label>
          <div class="ch-field-content">
            <p><input type="text" value="" name="" class="input-text wider"> <span class="required">Required</span></p>
            <p><em>e.g. Starbucks, Jan’s Diner</em></p>
          </div>
        </div>
        <div class="ch-field">
          <label>Textarea</label>
          <div class="ch-field-content">
            <p>
              <textarea class="input-text wider"></textarea>
            </p>
            <p><em>e.g. Starbucks, Jan’s Diner</em></p>
          </div>
        </div>
        <div class="ch-field-sub">
          <a href="#" class="ch-btn-a png-fix">保存</a>
        </div>
      </div>
      <div class="clear"></div>
    </div>

  </div>
  <div class="ch-content-bottom png-fix"></div>

</div>