<!DOCTYPE html>
<html>
<head>
  <title>篮球部落</title>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/css/front/main.css"/>
  <link rel="stylesheet" type="text/css" href="/scripts/jquery_ui_datepicker/css/ui-lightness/jquery-ui-1.10.3.custom.min.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="/scripts/jquery_dropdown/jquery.dropdown.css"/>
  <link rel="stylesheet" type="text/css" href="/scripts/jquery_fancybox/jquery.fancybox.css"/>
  <link rel="stylesheet" type="text/css" href="http://api.amap.com/Public/css/demo.Default.css" />

</head>
<body onLoad="mapInit()">
<div class="map-ch-nav-wrap png-fix">
  <div class="ch-nav map-ch-container ">
    <div class="ch-nav-logo left">
      <a href="#"><img src="/css/images/front/logo.png" class="png-fix" /></a>
    </div>
    <ul class="ch-primary-nav left">
      <li><a href="/"><span>首页</span></a></li>
      <li><a href="/challenges"><span>邀战</span></a></li>
      <li><a href="/center/spot"><span>约球</span></a></li>
      <li><a href="/center/user"><span>球队</span></a></li>
      <li><a href="/maps" class="current png-fix"><span>地图</span></a></li>
    </ul>

    <div class="ch-nav-search right">
      <input type="text" class="ch-nav-kw" />
      <input type="image" src="/css/images/front/ico-search.png" class="ch-nav-submit png-fix" />
    </div>
    <ul class="ch-second-nav right">
      <li><a href="#">当前用户:篮球队长</a></li>
    </ul>

  </div>
</div>
<%= yield %>
<!--<div class="clear"></div>-->
</body>
<script type="text/javascript" src=/scripts/jquery_dropdown/jquery.dropdown.js></script>
<script type="text/javascript" src="/scripts/jquery_ui_datepicker/js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src=/scripts/jquery_fancybox/jquery.fancybox.js></script>
<script type="text/javascript" src="/scripts/jquery.validate.js"></script>
<script type="text/javascript" src="/scripts/jquery.validate.msg_cn.js"></script>
<script type="text/javascript" src="/scripts/main.js"></script>

<!--[if IE 6]>
<script src="/scripts/DD_belatedPNG_0.0.8a-min.js"></script>
<script>
    /* EXAMPLE */
    DD_belatedPNG.fix('.png-fix, .ch-primary-nav a:hover, .ch-primary-nav a.current span, .ch-primary-nav a:hover span');

    /* string argument can be any CSS selector */
    /* .png_bg example is unnecessary */
    /* change it to what suits you! */
</script>
<![endif]-->

<script type="text/javascript" src="/scripts/jquery_ui_datepicker/js/jquery-ui-1.10.3.min.js"></script>
<script language="javascript" src="http://webapi.amap.com/maps?v=1.2&key=cec43d28b6c9aaeb4c2777e35c81d27d"></script>
<script language="javascript">
    var mapObj;
    //初始化地图对象，加载地图
    function mapInit(){
        mapObj = new AMap.Map("iCenter",{
            center:new AMap.LngLat(116.397428,39.90923), //地图中心点
            level:13  //地图显示的缩放级别
        });
    }
</script>
</html>
